@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
}
/* Crear grilla */
section{

    /* background-color: aquamarine; */

    display: grid;
    grid-template-columns: repeat(4,auto); /* repeat, perimte repetir la cantidad de veces que se le solicite */
    


}
/* article{
    background-color: var(--Purple-500);
} */

article:nth-child(1){
    background-color: var(--Purple-500);
    grid-column: 2 span;
}
article:nth-child(2){
    background-color: var(--Grey-500);
}
article:nth-child(3){
    background-color: var(--White);
    /* grid-row: 2 span; */
}
article:nth-child(4){
    background-color: var(--Black);
    grid-column: 2 span;
}
article:nth-child(5){
    background-color: var(--White);
    grid-column: 4;
    grid-row: 1/2 span;
}
/* grid-column y  grid-row */
/* Cuando uno de estos recibe un unico valor loque estas indicando es su posicion */
/* Pero, si en realidad colocas 2 valores entonces lo que indicas es el espacio que esta tomando */