@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}
*{
    padding: 0;
    margin: 0;
}
h3{
    font-weight: 600;
}

body{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    height: 100vh;
    align-content: center;
}

/* Crear grilla */
section{

    /* background-color: aquamarine; */

    display: grid;
    /* grid-template-columns: repeat(4,auto); repeat, perimte repetir la cantidad de veces que se le solicite */
    grid-template-areas: 
    "purple purple gray1 aside"
    "white gray2 gray2 aside";
    gap: 2em;
    margin: 0 auto;
    width: 60%;

}

img{
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.author{
    display: flex;
    padding-bottom: 1em;
    gap: 1em;
}

.author .name{
    margin: 0;
    padding:0;
    font-weight: 600;

}
.author .verticate{
    margin: 0;
    padding:0;
    font-weight: 500;
    font-size: 13.5px;
}

article{
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0 20px 100px -40px var(--Black);
}

article:nth-child(1){
    background-color: var(--Purple-500);
    /* grid-column: 2 span; */
    grid-area: purple;
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x:90% ;

    /*nesting*/
    h3{
        color: var(--Purple-50);
    }
    p{
        padding-top: 1em;
        color: var(--Purple-300);
        font-weight: 500;
    }
    .verticate{
        color: var(--Purple-300);
    }
    .name{
        color: var(--Purple-50);
    }
    
    img{
        /* border-style: groove; */
        border: 2px solid var(--Purple-300);
    }
}
article:nth-child(2){
    background-color: var(--Grey-500);
    grid-area: gray1;

    h3{
        color: var(--White);
    }
    p{
        padding-top: 1em;
        color: var(--Grey-200);
        font-weight: 500;
    }
    .verticate{
        color: var(--Grey-200);
    }
    .name{
        color: var(--Grey-200);
    }
    
    img{
        /* border-style: groove; */
        border: 2px solid var(--Grey-200);
    }
}
        
article:nth-child(3){
    background-color: var(--White);
    grid-area: white;
    /* grid-row: 2 span; */
    h3{
        color: var(--Grey-500);
    }
    p{
        padding-top: 1em;
        color: var(--Grey-400);
        font-weight: 500;
    }
        .verticate{
        color: var(--Grey-500);
    }
    .name{
        color: var(--Grey-500);
    }
    
    img{
        /* border-style: groove; */
        border: 2px solid var(--White);
    }
}
article:nth-child(4){
    background-color: var(--Black);
    grid-column: 2 span;
    grid-area: gray2;

    h3{
        color: var(--Grey-100);
    }
    p{
        padding-top: 1em;
        color: var(--Grey-200);
        font-weight: 500;
    }
        .verticate{
        color: var(--Grey-200);
    }
    .name{
        color: var(--Grey-200);
    }
    
    img{
        /* border-style: groove; */
        border: 2px solid var(--Purple-300);
    }


}
article:nth-child(5){
    background-color: var(--White);
    grid-area: aside;
    /* grid-column: 4;
    grid-row: 1/2 span; */

    h3{
        color: var(--Grey-500);
    }
    p{
        padding-top: 1em;
        color: var(--Grey-400);
        font-weight: 500;
    }
        .verticate{
        color: var(--Grey-500);
    }
    .name{
        color: var(--Grey-500);
    }
    
    img{
        /* border-style: groove; */
        border: 2px solid var(--White);
    }


}

@media (width < 1500px){
    section {
         width: 90%; 
    }
}
@media (width < 850px) {
    section {
        width: 80%;
        grid-template-areas: 
        "purple"
        "gray1"
        "white"
        "gray2"
        "aside"
    }
    article:nth-child(1){
        background-image: none;
    }
    body{
        padding-top: 3em;
    }
}
/* grid-column y  grid-row */
/* Cuando uno de estos recibe un unico valor loque estas indicando es su posicion */

